
<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="{{sitecontent.description}}" />
  <meta name="author" content="Chantal Jean" />
  <meta name="tag" content="{{sitecontent.tag}}" />
  <!-- Start of Facebook Meta Tags -->
  <meta property="og:title" content="{{sitecontent.title}}" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="{{url}}" />
  <meta property="og:image" content="{{base_url}}/serve/{{sitecontent.picture}}" />
  <meta property="og:site_name" content="chantaljean.juganville.com"/>
  <meta property="og:description" content="{{sitecontent.description}}" />

  <link rel="shortcut icon" href="static/img/favicon.png" />

  <title>{{sitecontent.title}}</title>

  <!-- Bootstrap core CSS -->
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet" />

  <!-- Custom styles for this template -->
  <link href="static/css/styles.css" rel="stylesheet" />

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
      <![endif]-->

  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBIX2xKDJB95BPR_UZWiB4atiei8QBSfYk&sensor=false"></script>    
 
</head>
<body>

  <div id="fb-root"></div>
  <div class="container">

      <div class="jumbotron">
        <h1 >{{sitecontent.main_title}}</h1>
<!--         <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet.</p> -->
      </div>




      <div class="row ">
          <div class="row">
            <div class="col-md-8 lead">
 
             {{sitecontent.content|safe}}
             <h2>Localisation</h2>

                <!-- <img class="featurette-image img-responsive" data-src="holder.js/350x350/auto" alt="Generic placeholder image"> -->
                 <div id="map-canvas"></div>

            </div>
            <div class="col-md-4">
              <!-- <h2>Soins Energétiques</h2> -->
              <img class="img-responsive img-thumbnail" src="/serve/{{sitecontent.picture}}" alt="Chantal Jean">
              

              <h2>Contact</h2>
              <address>
                <strong>Chantal Jean</strong><br>
                  <span class="glyphicon glyphicon-earphone"></span> 06 61 72 04 54<br><span class="glyphicon glyphicon-send"></span> chantal.jean50@gmail.com<br>
                  <span class="glyphicon glyphicon-home"></span> 36 rue des religieuses<br>
                  <span class="glyphicon glyphicon-home"></span> 50700 Valognes
               </address>
               <!-- fb like button -->
               <div class="fb-like" data-href="{{url}}" data-layout="button" data-action="like" data-show-faces="false" data-share="false"></div>
               <!-- G+ like button -->
               <div class="g-plusone" data-size="medium" data-href="http://chantaljean.fr/soins-energetiques-valognes-chantal-jean"></div>
               <!-- Twitter button -->
              <div><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://chantaljean.fr/soins-energetiques-valognes-chantal-jean" data-lang="fr">Tweeter</a></div>

            </div>

          </div>
   
        </div><!--/span-->

       <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Retour en haut</a></p>

      </footer>

      </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="static/js/libs/jquery.backstretch.min.js"></script>
    <!--<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>-->
    <script>$('body').backstretch("/serve/{{sitecontent.background}}");</script>
    <script src="static/js/app.js"></script>

  </body>
  </html>
