
<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="Chantal Jean">
  <link rel="shortcut icon" href="static/img/favicon.png">

  <title>Chantal Jean</title>

  <!-- Bootstrap core CSS -->
  <link href="static/js/libs/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="static/css/styles.css" rel="stylesheet">

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
      <![endif]-->

      <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBIX2xKDJB95BPR_UZWiB4atiei8QBSfYk&sensor=false">
    </script>    
    <script type="text/javascript">
      var map;
      function initialize() {
        map = new google.maps.Map(document.getElementById("map-canvas"), {
          center: new google.maps.LatLng(49.5062536,-1.4668496),
          zoom: 16,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        });
        var iconBase = 'http://google.com/mapfiles/ms/micons/';
        var marker = new google.maps.Marker({
          position: new google.maps.LatLng(49.5062536,-1.4668496),
          map: map,
          icon: iconBase + 'blue.png'
        });
      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>   -
     </head>

    <body>
      

        

<div class="container">


    <div class="container">

      <div class="row ">
    <!--     <div class="col-xs-12 col-sm-9"> -->
<!--           <div class="jumbotron">
            <h1>SOINS ENERGETIQUES</h1>
            <p>Le soin énergétique apaise et soulage. Il revitalise et redynamise le corps en réactivant la force vitale de l'être.</p>
            <p>Le soin agit à la fois sur un plan physique, psychique et émotionnel.</p>
          </div> -->
          <div class="row">
            <div class="col-md-4">
              <h2>Soins Energétiques</h2>
              <img class="img-responsive" src="static/img/chantal.jpg" alt="Chantal Jean">
              
            </div>
            <div class="col-md-4">
              <h2>Contact</h2>
              <address>
                <strong>Chantal Jean</strong><br>
                  <span class="glyphicon glyphicon-earphone"></span> 06 61 72 04 54<br><span class="glyphicon glyphicon-send"></span> chantal.jean50@gmail.com<br>
                  <span class="glyphicon glyphicon-home"></span> 36 rue des religieuses<br>
                  <span class="glyphicon glyphicon-home"></span> 50700 Valognes
               </address>
            </div>
            <div class="col-md-4">
              <h2>Chantal Jean</h2>
              <p class="lead">Chantal pratique ces soins en cabinet depuis 10 ans. Cette pratique est le fruit d'une formation et d'un travail personnel.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <h2>Ce qu'apporte un soin</h2>
              <p class="lead">Un soin énergétique apaise et soulage. Il revitalise et redynamise le corps en réactivant la force vitale de l'être.
Le soin agit à la fois sur un plan physique, psychique et émotionnel.</p>
              <p>Séance individuelle d'une heure </p>
              <p class="lead">Tarif : 40 €</p>
            </div><!--/span-->
            <div class="col-md-4">
              <h2>A qui s'adresse un soin</h2>
              <p class="lead">Il s'adresse à tous, bébés, enfants et adultes, à toute personne en situation de souffrance. </p>
              <p class="lead">Le soin ne se substitue en aucun cas à un traitement médical mais peut l'accompagner et agir en complémentarité.</p>
            </div><!--/span-->
           <div class="col-md-4">
              <h2>Localisation</h2>
                <!-- <img class="featurette-image img-responsive" data-src="holder.js/350x350/auto" alt="Generic placeholder image"> -->
                 <div id="map-canvas"></div>

            </div><!--/span-->
 

          </div><!--/row-->
        </div><!--/span-->

      <hr />  
      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Retour en haut</a></p>
        <p>&copy; 2013-2014 Chantal Jean &middot; Using <a href="http://http://getbootstrap.com/">Bootstrap</a> and <a href="http://glyphicons.com/">Glyphicons</a></p>
      </footer>

      </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="static/js/libs/jquery-1.9.1.js"></script>
    <script src="static/js/libs/jquery.backstretch.min.js"></script>
    <script src="static/js/libs/bootstrap/js/bootstrap.min.js"></script>
    <script src="static/js/app.js"></script>
    <script src="static/js/libs/holder.js"></script>
  </body>
  </html>
